<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatable" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Basic</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        
    </head>
    <body>
        <div id="app" v-cloak class="container">
            <h1>{{greeting}}</h1>
            <input @keyup.enter="greet(greeting+' !!!')" v-model="greeting"/>

            <hr />
            <!-- <button @click="isVisible = !isVisible">Toggle Box</button>  -->
            <button @click="toggleBox">Toggle Box</button> 
            <div v-if="isVisible" class="box">
                This element will be shown or hidden based on the value of "isVisible".
            </div>
            <!-- <div v-else-if="isVisible2" class="box two">
                Visible 2
            </div>
            <div v-else class="box three">
                This element will be shown or hidden based on the value of "isVisible".
            </div> -->
        </div>

        <script src="https://unpkg.com/vue@3"></script>
        <script>
            let app = Vue.createApp(
                {
                    data: function ()
                        {
                            return {
                                greeting: "Hello Brian, welcome to Vue3js", 
                                isVisible: false,
                                // isVisible2: true
                            }
                        },
                        methods: {
                            toggleBox(){
                            this.isVisible = !this.isVisible
                            },
                            greet(greeting) {
                                console.log(greeting)
                            }
                        }
                }
            )
            app.mount("#app")
        </script>
    </body>
</html>