<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List App</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div id="shopping-list">
        <!-- <h1>{{   header.toLocaleUpperCase() }}</h1> -->
        <!-- <h1>{{ header ? header : 'Welcome'}}</h1> -->
        <h1>{{ header || 'Welcome' }}</h1>
        <!-- <input v-model="header"> -->
        <div class="add-item-form">
            <input @keyup.enter="items.push({id:items.length + 1, label: newItem})" v-model="newItem" type="text" placeholder="Add an item" >
            <!-- <label><input type="radio" v-model="newItemPriority" value="low">Low</label>
            <label><input type="radio" v-model="newItemPriority" value="high">High</label> -->
            <br>
            <!-- <label>Priority
                <select v-model="newItemHighPriority">
                    <option value="low">Low</option>
                    <option value="high">High</option>
                </select>
            </label> -->
            
            <label>
                <input type="checkbox" v-model="newItemHighPriority" class="margin-left">
                High Priority
            </label>
            <button  
                v-on:click="items.push({id:items.length + 1, label: newItem})" 
                class="btn btn-primary">
                Save Item
            </button>
        </div>
        <!-- <br>
        {{ newItem }}  {{ newItemHighPriority }} -->

        <!-- <label><input type="checkbox" v-model="iceCreamFlavors" value="vanila">Vanilla</label>
        <label><input type="checkbox" v-model="iceCreamFlavors" value="chocolate">Chocolate</label>
        <label><input type="checkbox" v-model="iceCreamFlavors" value="strawberry">Strawberry</label>
        <label><input type="checkbox" v-model="iceCreamFlavors" value="cookies and icecream">Cookies and icream</label> -->
        <ul>
            <li v-for="item in items" :key="item.id"> {{ item.label }} </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script> 
        const shoppingList = Vue.createApp({
            data() { 
                return {
                    header: "Shopping List search",
                    newItem: '',
                    //<!-- newItemPriority: 'low', -->
                    newItemHighPriority: false,
                    //<!-- iceCreamFlavors: [] -->
                    items: [
                    {id: 1, label: "10 party hats"},
                    {id: 2, label: "2 board games"},
                    {id: 3, label:  "20 cups"}]
                }
            },
            methods: {
               saveItem() {
                items.push({id: items.length + 1, label: newItem})
               }
            }
        }).mount('#shopping-list')
    </script>
</body>
</html>