.box {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}

.box.two {
    background-color: red;
}

.box.three {
    background-color: aqua;
}

[v-cloak] {
    display: none;
}

form custom-input {
    margin: 10px;
    display: block;
}